body {
    padding-top: 50px;
}

/*All Properties*/
.propertyimage{
    display: grid;
    grid-template-columns: 25% 25%;
    padding-top:5%;
}

.propertyimage img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

.propertyimagemessage{
    padding-top: 20px;
    color: red;
}

/*Individual Properties*/

.singlepropertyimage{
    display: grid;
    justify-content: center;
}

.singlepropertyimage img {
    padding-top: 5%;
    width: 500px; 
    height: 500px;
    object-fit: cover;
}

.singleinfo{
    padding-top: 10%;
    margin:auto;
}

