{% extends "base.html" %}

{% block title %} Add Property {% endblock %}

{% block main %}
<form action="{{ url_for('newproperty') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
        
    {{ form.title.label }} <br/> {{ form.title }} <br />
    {{ form.description.label }} <br/> {{ form.description }} <br />
    {{ form.num_bedrooms.label }} <br/> {{ form.num_bedrooms }} <br />
    {{ form.num_bathrooms.label }} <br/> {{ form.num_bathrooms }} <br />
    {{ form.price.label }} <br/> {{ form.price }} <br />
    {{ form.type_.label }} <br/> {{ form.type_ }} <br />
    {{ form.location.label }} <br/> {{ form.location }} <br />
    <div class="form-group">
        {{ form.upload.label }}<br/>
        {{ form.upload(class="form-control") }}
    </div>
    {% include 'flash_messages.html' %}
    <br/>

    <button type="submit" name="submit">Add Property</button>
</form>


{% endblock %}