{% extends "base.html" %}

{% block title %} View All Properties {% endblock %}

{% block main %}
{% include 'flash_messages.html' %}
{% if properties|length > 0 %}
    <div class="propertyimage">
        {% for prop in properties %}
        <div>
            <a href="{{ url_for('get_property', propid = prop.id) }}">
                <img src="{{ url_for('get_image', filename = prop.upload) }}"/>
            </a>
            <div class="info">
                <span class="title">{{ prop.title}}</span> <br/>
                <span class="cdate"><b>Property Added On: </b>{{ prop.date_created }}</span> <br/>
                <b>Price:</b> {{prop.price }} <br/>
                <b>Description:</b>{{ prop.description }}
            </div>
        </div>
        {% endfor %}
        <br/>
    </div>
{% else %}
    <div class ="propertyimagemessage">
        <p>No Properties Uploaded yet. Upload a Property to start viewing</p>

    </div>

{% endif %}

{% endblock %}