{% extends "base.html" %}

{% block title %} View Property {% endblock %}

{% block main %}
{% include 'flash_messages.html' %}
{% if prop != null %}
    <div class="singlepropertyimage">
        <div>
            <img src="{{ url_for('get_image', filename = prop.upload) }}"/>
        </div>
        
        <div class="singleinfo">
            <span class="title">{{ prop.title}}</span> <br/>
            <span class="cdate"><b>Property Added On: </b>{{ prop.date_created }}</span> <br/>
            <b>Price:</b> {{prop.price }} <br/>
            <b>Description:</b>{{ prop.description }}
        </div>
    </div>
        <br/>
{% else %}
    <div class ="singlepropertyimagemessage">
        <p>No Property Selected. Select a property to start viewing</p>

    </div>

{% endif %}

{% endblock %}