{% extends "base.html" %}

{% block title %} View All Properties {% endblock %}

{% block main %}

{% for pr in prop %}
    <div class="property">
        <img src="{{ url_for('static', filename='uploads/'+ pr.upload) }}"></img>
        
        <div class="info">
            <span class="title">{{ pr.title}}</span> <br/>
            <span class="cdate"><b>Property Added On: </b>{{ pr.date_created }}</span> <br/><br/>
            <b>Price:</b> {{pr.price }} <br/>
            {{ prop.description }}
        </div>
    </div>
    
    <br/>
{% endfor %}

{% endblock %}